html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar-brand {
    color: gold !important;
    transition: text-shadow 0.3s;
}

.navbar > .container .navbar-brand:hover {
    text-shadow: 0 0 6px gold;
    transition: text-shadow 0.3s;
}

.navbar-inverse .navbar-nav > li > a {
    color: rgba(255, 215, 0, 0.8) !important;
}

.navbar-inverse .navbar-nav > .open > a {
    background-color: #333 !important;
    color: gold !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: rgba(255, 225, 10, 0.9) !important;
}

.navbar-inverse .navbar-nav .open .dropdown-menu .divider,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a{
    background-color: #666 !important;
}

.navbar-inverse {
    background-color: #444 !important;
}

nav .fas,
nav .far {
    margin-right: 0.4em;
}

.pagination {
    margin: 10px 0;
}

.site-about img,
.site-contact img {
    width: 100%;
}

.site-news {
    word-break: break-word;
}
.carousel-inner .item {
    height: 400px;
    max-width: 100%;
    width: auto;
}
.carousel-inner img {
    max-height: 400px !important;
    margin: auto;
}
.carousel {
    border-radius: 55px 55px 55px 55px;
    overflow: hidden;
}
.price {
    margin: 6px;
    font-size: 3em;
    color: gold;
    text-shadow: 0 0 10px black;
}
.price-br {
    bottom: 4%;
    right: 6%;
    position: absolute;
}
.price,
.label {
    user-select: none;
}
.buy {
    font-size: 1em;
    margin: 0.6em;
    line-height: 2em;
}
.filter-checkbox {
    margin: 0.4em 1.4em 0 -1.4em;
}
.filter-button,
.filter-checkbox {
    padding: 0;
}
.filter-button button {
    width: 40%;
    margin: 0 6px;
}
.empty {
    padding: 0.5em 3em 2em;
}
.filter-bar {
    text-align: center;
    margin: 2em 0;
}
.item {
    height: 250px;
}
.img-parent img {
    height: 200px;
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.goods-title {
    position: absolute;
    top: 0;
    color: darkgreen;
    text-shadow: 0 0 3px darkgoldenrod;
    margin: 2% 70% 0 0;
}
.underline-disable:hover {
    text-decoration: none !important;
}
.label-stock {
    position: absolute;
    top: 4%;
    right: 10%;
}
.bottom-space {
    margin-bottom: 1em;
}
#alerts {
    position: fixed;
    user-select: none;
    height: auto;
    width: 25%;
    right: 1em;
    top: 4em;
}
#alerts .alert {
    display: none;
    box-shadow: 2px 2px 2px black;
}
.cart-empty {
    display: block;
    margin: 2em auto;
    text-align: center;;
}
.table-total {
    text-align: right;
    padding-right: 2.5em !important;
}
.bold {
    font-weight: bold;
}
.summary {
    font-size: 1.2em;
    text-align: right;
    font-weight: bold;
    line-height: 2em;
}
